parserType=$parserType
baseDir=${ARCHIVE_DIR}/eniq_events_topology/$directoryName/
inDir=${PMDATA_DIR}/eniq_events_topology/$directoryName/
loaderDir=/eniq/data/etldata_/00/
maxFilesPerRun=32765
dublicateCheck=true
thresholdMethod=more
minFileAge=1
ProcessedFiles.processedDir=${ARCHIVE_DIR}/eniq_events_topology/$directoryName/processed/
ProcessedFiles.fileNameFormat=
interfaceName=$interfaceName
outDir=/eniq/data/etldata_/00/adapter_tmp/$directoryName/
failedAction=move
dirThreshold=0
workers=3
afterParseAction=delete
useZip=false
archivePeriod=168
doubleCheckAction=delete