parserType=$parserType
baseDir=${ARCHIVE_DIR}/${OSS}/$directoryName/
inDir=${PMDATA_DIR}/${OSS}/$directoryName/
loaderDir=${ETLDATA_DIR}
maxFilesPerRun=32765
dublicateCheck=true
thresholdMethod=more
minFileAge=1
ProcessedFiles.processedDir=${ARCHIVE_DIR}/${OSS}/$directoryName/processed/
ProcessedFiles.fileNameFormat=
interfaceName=$interfaceName
outDir=${ETLDATA_DIR}/adapter_tmp/$directoryName/
failedAction=move
dirThreshold=0
workers=3
afterParseAction=delete
useZip=false
archivePeriod=168
doubleCheckAction=delete
MDCParser.HashData=true