##
## RANKBH.DAY.vm
##
##
##
## Delete possible data before aggregation
##

set temporary option join_preference='-1'

DELETE $targetDerivedTable.get("RANKBH")
WHERE DATE_ID=$dateid AND BHTYPE='$Bhtype.get("RANKBH")'
##
##
##

Insert into $targetDerivedTable.get("RANKBH")
(
##
## unique keys
##
#set($first = true)
#foreach($col in $TargetMeasurementKeyMap.get("RANKBH"))
#if($col.getUniquekey() == 1)
#if($first) $col.getDataname() 
#set($first = false)
#else,$col.getDataname()
#end
#end
#end
,DATE_ID
,BHTYPE
,BHVALUE
,BHCLASS
,WEEKBH
,MONTHBH
,DATACOVERAGE
,PERIOD_DURATION
,TIMELEVEL
,SESSION_ID
,BATCH_ID
,ROWSTATUS
,BH_ID
,OFFSET
,WINDOWSIZE
,BHOBJECT
)
SELECT 
##
## unique keys
##
#set($first = true)
#foreach($col in $TargetMeasurementKeyMap.get("RANKBH"))
#if ($col.getUniquekey() == 1)
#if($first) $col.getDataname()
#set($first = false)
#else 
,$col.getDataname()
#end
#end
#end
,DATE_ID
,'$Bhtype.get("RANKBH")'
,MAX(BHVALUE)
,1
,0
,0
,SUM(PERIOD_DURATION)
,NULL
,'RANKBH'
,$sessionid
,$batchid
,'AGGREGATED'
,ID
,MINUTE_OFFSET
,SLIDING_WINDOW_SIZE
,BHOBJECT
from $sourceTable.get("RANKBH")
WHERE DATE_ID=$dateid 
and ROWSTATUS NOT IN ('DUPLICATE','SUSPECTED')
GROUP BY
#set($first = true)
#foreach($col in $TargetMeasurementKeyMap.get("RANKBH"))
#if ($col.getUniquekey() == 1)
#if($first)  $col.getDataname()
#set($first = false)
#else 
,$col.getDataname()
#end
#end
#end
,DATE_ID
,BHTYPE
,ID
,MINUTE_OFFSET
,SLIDING_WINDOW_SIZE
,BHOBJECT

##
## UPDATE
##

UPDATE $targetDerivedTable.get("RANKBH") AS dst 
SET 
dst.BUSYHOUR=src.HOUR_ID,
dst.PERIOD_DURATION=src.PERIOD_DURATION
#foreach($col in $TargetMeasurementKeyMap.get("RANKBH"))
#if ($col.getUniquekey() == 0)
,dst.$col.getDataname() = src.$col.getDataname()
#end
#end
,dst.DC_RELEASE = src.DC_RELEASE
,dst.DC_SOURCE = src.DC_SOURCE
,dst.DC_TIMEZONE = src.DC_TIMEZONE
FROM $sourceTable.get("RANKBH") AS src
where src.DATE_ID=$dateid
and dst.DATE_ID=$dateid
and src.DATE_ID=dst.DATE_ID
and src.BHVALUE=dst.BHVALUE
and src.BHTYPE=dst.BHTYPE
and src.ROWSTATUS NOT IN ('DUPLICATE','SUSPECTED')
##
## unique keys
##
#foreach($col in $TargetMeasurementKeyMap.get("RANKBH"))
#if ($col.getUniquekey() == 1)
and dst.$col.getDataname() = src.$col.getDataname()
#end
#end
ORDER BY src.HOUR_ID 

set temporary option join_preference='0'



