##
## Total.day.vm
##
##
##
##
## Delete possible data before aggregation
##
DELETE $targetDerivedTable.get("TOTAL")
WHERE DATE_ID=$dateid
##
##
##

Insert into $targetDerivedTable.get("TOTAL")
(
##
## unique keys
##
#set($first = true)
#foreach($col in  $TargetMeasurementKeyMap.get("TOTAL"))
#if($first) $col.getDataname() 
#set($first = false)
#else,$col.getDataname()
#end
#end
,DC_RELEASE
,DATE_ID
,YEAR_ID
,MONTH_ID
,DAY_ID
,WEEK_ID
,DATACOVERAGE
,AGG_COUNT
,SESSION_ID
,BATCH_ID
,TIMELEVEL
,PERIOD_DURATION
,DC_SOURCE
,DC_TIMEZONE
,ROWSTATUS
##
## Aggregated Columns
##
#foreach($col in $TargetMeasurementCounterMap.get("TOTAL"))
#if ("$col.getTimeaggregation()" != "NONE")
,$col.getDataname()
#end  
#end
)
Select
##
## unique keys
##
#set($first = true)
#foreach($col in  $TargetMeasurementKeyMap.get("TOTAL"))
#if ($col.getUniquekey() == 1)
#if($first) $col.getDataname()
#set($first = false)
#else 
,$col.getDataname()
#end
#else
#if($first) MIN($col.getDataname())
#set($first = false)
#else 
,MIN($col.getDataname())
#end
#end
#end
,DC_RELEASE
,DATE_ID
,MIN(YEAR_ID)
,MIN(MONTH_ID)
,MIN(DAY_ID)
,MIN(DATEPART(cwk, $dateid))
,SUM(PERIOD_DURATION)
,COUNT(*)
,$sessionid
,$batchid
,'DAY'
,1440
,MIN(DC_SOURCE)
,MIN(DC_TIMEZONE)
,'AGGREGATED'
##
## Aggregated Columns
##
#foreach($col in $TargetMeasurementCounterMap.get("TOTAL"))
#if ("$col.getTimeaggregation()" != "NONE")
#if("$col.getTimeaggregation()" == "SUM" || "$col.getTimeaggregation()" == "AVG" || "$col.getTimeaggregation()" == "MAX" || "$col.getTimeaggregation()" == "MIN" || "$col.getTimeaggregation()" == "COUNT")
,$col.getTimeaggregation()($col.getDataname())
#else
,case 
#set($Timeaggregations = $col.getTimeaggregation())
#set($releases = $Timeaggregations.split("/"))
#foreach($release in $releases)
#set($relfirst = true)
#set($aggChecks = $release.split(";"))
#foreach($aggCheck in $aggChecks)
#if($relfirst == true )
#set($supportedVersion = $aggCheck)
#set($relfirst = false)
#else
#set($supportedAgg = $aggCheck)
#end
#end
 when DC_RELEASE in ('$supportedVersion') then $supportedAgg($col.getDataname())
#end
 else SUM($col.getDataname())
end
#end
#end 
#end
from  $sourceDerivedTable.get("TOTAL")  AS src 
where src.DATE_ID=$dateid
and src.ROWSTATUS NOT IN ('DUPLICATE','SUSPECTED')
group by
#set($first = true)
#foreach($col in $TargetMeasurementKeyMap.get("TOTAL"))
#if ($col.getUniquekey() == 1)
#if ($first) $col.getDataname()
#set($first = false)
#else
,$col.getDataname()
#end
#end
#end 
,DC_RELEASE
,DATE_ID


##
## UPDATE
##
##UPDATE $targetDerivedTable.get("TOTAL") AS dst 
##SET 
##
##  NON UNIQUE KEYS
## 
##set($first = true)
##set($isunique = false)
##foreach($col in $TargetMeasurementKeyMap.get("TOTAL"))
##if ($col.getUniquekey() == 0)
##if($first) 
##dst.$col.getDataname()=src.$col.getDataname()
##set($isunique = true)
##set($first = false)
##else 
##,dst.$col.getDataname()=src.$col.getDataname()
###end
###end
###end
##if($isunique)
##,SESSION_ID=$sessionid
##else
##SESSION_ID=$sessionid
##end
##,BATCH_ID=$batchid
##,TIMELEVEL='DAY'
##,PERIOD_DURATION=1440
##,dst.DC_SOURCE=src.DC_SOURCE
##,dst.DC_TIMEZONE=src.DC_TIMEZONE
##foreach($col in $TargetMeasurementCounterMap.get("TOTAL"))
##if ("$col.getTimeaggregation()" == "NONE")
##,dst.$col.getDataname()=src.$col.getDataname()
##end 
##end
##FROM $sourceDerivedTable.get("TOTAL") AS src 
##where src.DATE_ID=$dateid
##and dst.DATE_ID=$dateid
##and src.DATE_ID=dst.DATE_ID
##and src.ROWSTATUS NOT IN ('DUPLICATE','SUSPECTED')
##
## unique keys
##
##foreach($col in $TargetMeasurementKeyMap.get("TOTAL"))
##if ($col.getUniquekey() == 1)
##and dst.$col.getDataname() = src.$col.getDataname()
##end
##end
